@font-face {
    font-family: 'Gotham';
    src: url("../fonts/14006.otf");
}
@font-face {
    font-family: 'Gotham Medium';
    src: url("../fonts/14012.otf");
}
@font-face {
    font-family: 'Gotham Book';
    src: url("../fonts/14008.otf");
}
@font-face {
    font-family: 'Myriad Pro';
    src: url("../fonts/8143.otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Book', sans-serif;
    color: #fff;
}
a, a:hover{
    text-decoration: none;
}
a, ul, li{
    display: block;
}
h1, h2, h3, h4, h5, h6,
p, ul, li{
    margin-bottom: 0;
}
header{
    position: absolute;
    width: 100%;
    height: 115px;
    z-index: 5;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    display: flex;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 15px;
}
nav a{
    position: relative;
    width: 80px;
    height: 80px;
}
nav a span{
    display: flex;
    color: white;
    padding: 12px;
}
nav a span:before,
nav a span:after{
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
}
nav a span:before{
    top: 0;
    left: 0;
    background: #11749E;
    z-index: -1;
}
nav a span:after{
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: -2;
}
.logo span{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.top-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
}
.top-menu li a{
    font-size: 20px;
    color: #fff;
    margin: 0 25px;
    display: inline;
    font-family: 'Myriad Pro', sans-serif;
}
.top-menu li a:hover{
    border-bottom: 5px solid #11749E;
    text-decoration: none;
    padding-bottom: 40px;
}
.social-icons span{
    font-size: 20px;
    margin: 15px;
}

#main{
    position: relative;
    background: url("../images/bg.png") no-repeat top center;
    height: 880px   ;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.heading{
    margin: auto;
    width: 900px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading-title{
    font-family: 'Gotham', sans-serif;
    font-size: 152px;
    font-weight: bold;
    color: #f5f5f5;
    text-transform: uppercase;
}
.heading-text{
    font-family: 'Gotham Medium', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #11749e;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 20px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.title h2{
    font-family: 'Gotham Medium', sans-serif;
    font-size: 37px;
    color: white;
    text-transform: uppercase;
    position: absolute;
}
.title span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 247px;
    font-weight: bold;
    position: static;
    color: rgba(34,34,34,.7);
}
.heading b{
    position: absolute;
    bottom: 180px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 13px;
}
.btn-arrow{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#features{
    background: #11749E;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 135px;
}
.feature-icon{
    width: 135px;
    height: 135px;
    background: #2E85AA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 25px 0 30px;
}
.feature p{
    font-size: 15px;
}
.news-items{
    height: 450px;
    position: relative;
    background: #222222;
    width: 100%;
}
.news-items2{
    background: #F3F3F3;
}
.text-culture1, .text-culture2{
    position: absolute;
    width: 470px;
    height: 260px;
    bottom: 0;
    right: 0;
    margin: 0 100px 100px 0;
}
.text-culture2{
    top: 0;
    left: 0;
    margin: 100px 0 0 100px;
}
.news-items pre, .news-items h3, .news-items p{
    color: #fff;
}
.news-items pre{
    font-size: 13px;
}
.news-items h3{
    font-family: 'Gotham Medium', sans-serif;
    font-size: 25px;
    margin-bottom: 35px;
}
.news-items p{
    font-size: 15px;
}
.news-items2 pre, .news-items2 h3, .news-items2 p{
    color: #000;
}
.news-items img{
    width: 100%;
    height: 100%;
}
#blog .title h2{
    font-family: 'Gotham Medium', sans-serif;
    font-size: 37px;
    color: #000;
}
#blog .title h3{
    color: #000;
    margin: -70px 0 50px;
}
.blog-area{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 105px;
}
.blog-area img{
    width: 100%;
}
.blog-area h4{
    font-family: 'Gotham Medium', sans-serif;
    color: #11749e;
    font-size: 18px;
    margin: 45px 0 30px;
}
.blog-area p{
    font-size: 15px;
    color: #000;
}
.quick-action{
    padding: 100px 0 150px;
    background: #11749E;
}
.action{
    display: flex;
    align-items: center;
}
.action img{
    width: 70px;
    height: 70px;
    margin-right: 30px;
}
.action p{
    font-size: 15px;
}
#phone-app{
    background: url("../images/bg2.png") no-repeat top center;
}
.phone{
    margin: 100px 125px 100px 0;
}
.phone h2{
    font-family: 'Gotham Medium', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin: 125px 0 40px;
}
.phone p{
    font-size: 15px;
    margin-bottom: 70px;
}
a.press{
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Gotham Medium', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    width: 370px;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #11749E;
    text-decoration: none;
}
a.press:nth-last-child(2){
    width: 400px;
}
a.press:last-child{
    width: 430px;
}
.our-team{
    margin-bottom: 125px;
}
.our-team .title h2{
    color: #000;
}
.our-team .title h3{
    color: #000;
    margin: -70px 0 50px;
}
.team-member{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.team-content{
    position: absolute;
    bottom: -40px;
    width: 220px;
    height: 90px;
    background: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-content h3{
    font-family: 'Gotham Medium', sans-serif;
    font-size: 20px;
    color: #11749E;
    line-height: 30px;
}
.team-content p{
    font-family: 'Gotham Medium', sans-serif;
    font-size: 15px;
    color: #000;
}
#contact-us{
    background: url("../images/bg3.png") no-repeat top center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 70px 0 100px;
}
#contact-us .text-content{
    width: 30%;
    height: 45px;
    border: 1px solid white;
    background: transparent;
    padding-left: 25px;
    margin-bottom: 35px;
}
.text-info{
    display: flex;
    justify-content: space-between;
}
#message{
    width: 100%;
    height: 150px;
    border: 1px solid white;
    background: transparent;
    padding-left: 25px;
    margin-bottom: 45px;
    padding-top: 15px;
}
#contact-us .btn {
    width: 230px;
    height: 65px;
    background: #11749E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    margin: auto;
}
#map{
    height: 350px;
}
footer{
    background: #222222;
    height: 115px;
    display: flex;
    align-items: center;
}
.page-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-footer h5{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
}
