@font-face {
	font-family: "Gotham";
	src: url("../fonts/14006.otf");
}

@font-face {
	font-family: "Gotham Medium";
	src: url("../fonts/14012.otf");
}

@font-face {
	font-family: "Gotham Book";
	src: url("../fonts/14008.otf");
}

@font-face {
	font-family: "Myriad Pro";
	src: url("../fonts/8143.otf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gotham Book", sans-serif;
	color: #fff;
}


a,
ul,
li,
a:hover {
	list-style-type: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	margin: 0;
}

.container {
	max-width: 1440px;
}

.header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	position: absolute;
	width: 100%;
	/* z-index: 100; */
}

.header__main-nav {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px 0;
}

.logo {
	position: relative;
	width: 93px;
	height: 80px;
	transition: .3s;
}

.logo:before,
.logo:after {
	position: absolute;
	width: 70px;
	height: 70px;
}

.logo:before {
	content: "CS";
	background-color: #11749e;
	z-index: 4;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.logo:after {
	content: "";
	bottom: 0;
	right: 0;
	background-color: #fff;
	opacity: 0.75;
	z-index: 3;
}
.logo:hover {
	transform: scale(.95);
}

.header__nav {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.header__menu {
	display: flex;
	/* align-items: center; */
}
.header__menu li {
	margin-right: 30px;
}
.header__menu li:last-child {
	margin-right: 0;
}
.header__menu li a {
	font-family: "Myriad Pro", sans-serif;
	font-size: 20px;
	color: #fff;
}
.header__menu a:hover {
	border-bottom: 5px solid #11749e;
	padding-bottom: 35px;
}

.header__social {
	display: flex;
	margin-left: 80px;
}
.header__social li {
	margin-left: 20px;
}
.header__social li:first-child {
	margin-left: 0;
}
.header__social li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	font-size: 20px;
	transition: .3s;
	border-radius: 50%;
}
.hedaer__social li a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__social li:hover{
	transform: rotate(10deg);
	background-color: #11749e;
	border-radius: 50%;
}

#main {
	/* position: absolute;
		top: 0;
		left: 0; */
	/* width: 100%; */
	background: url("../images/bg.png");
	background-position: top center;
	/* height: 100vh; */
	/* overflow: hidden; */
	/* display: flex; */
	/* align-items: center; */
	/* z-index: -10; */
}

.main__content {
	margin: auto;
	/* width: 900px; */
	/* height: 450px; */
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	padding: 250px 0 100px 0;
}

.main__title {
	font-family: "Gotham", sans-serif;
	font-size: 152px;
	font-weight: bold;
	color: #f5f5f5;
	text-transform: uppercase;
}

.main__text {
	font-family: "Gotham Medium", sans-serif;
	font-size: 25px;
	/* font-weight: normal; */
	color: #11749e;
	text-transform: uppercase;
	/* text-align: center; */
	letter-spacing: 20px;
}
.main__content b {
	/* position: absolute; */
	/* bottom: 180px; */
	font-family: "OpenSans", sans-serif;
	font-weight: normal;
	font-size: 13px;
	margin: 30px 0 10px 0;
}

.btn-arrow {
	border: 2px solid #fff;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	/* position: absolute; */
	/* bottom: 100px; */
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	animation: circle 2s linear infinite;
}
.btn-arrow span{
	animation: arrow 2s linear infinite;
}
@keyframes arrow {
	0% {
		transform: translateY(-8px);
		opacity: .3;
	}
	50% {
		transform: translateY(0px);
		opacity: 1;
	}
	100% {
		transform: translateY(-8px);
		opacity: .3;
	}
}
@keyframes circle {
	0% {
		opacity: .3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: .3;
	}
}

.features {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	text-align: center;
	/* padding-bottom: 135px; */
	background: #11749e;
}
.title {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.title h2 {
	font-family: "Gotham Medium", sans-serif;
	font-size: 37px;
	text-transform: uppercase;
	position: absolute;
	top: 160px;
}

.title span {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 250px;
	font-weight: bold;
	color: rgba(34, 34, 34, 0.7);
}
.features__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 135px;
	padding: 0 15px;
}
.features__icon {
	width: 135px;
	height: 135px;
	background: #2e85aa;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.features h3 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: lighter;
	margin: 25px 0 30px;
}

.features p {
	font-size: 15px;
}

.news__items {
	height: 450px;
	background-color: #222222;
	/* width: 100%; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.news__text-culture {
	/* max-width: 520px; */
	/* max-height: 260px; */
	margin: 0 80px;
}

.news__items pre {
	font-size: 13px;
	color: #f3f3f3;
}

.news__items h3 {
	font-family: "Gotham Medium", sans-serif;
	font-size: 25px;
	margin-bottom: 35px;
}

.news__items p {
	font-size: 15px;
}

.news__items img {
	width: 100%;
	height: 100%;
}

.title h2 {
	font-family: "Gotham Medium", sans-serif;
	font-size: 37px;
	color: #000;
}

.title h3 {
	color: #000;
	margin: -70px 0 50px;
}

.blog__item {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 105px;
}

.blog__item img {
	width: 100%;
}

.blog__item h4 {
	font-family: "Gotham Medium", sans-serif;
	color: #11749e;
	font-size: 18px;
	margin: 45px 0 30px;
}

.blog__item p {
	font-size: 15px;
	color: #000;
}

.action {
	padding: 100px 0 100px;
	background: #11749e;
}

.action__item {
	display: flex;
	align-items: center;
}

.action__item img {
	width: 70px;
	height: 70px;
	margin-right: 30px;
}

.action__item p {
	font-size: 15px;
}

.service {
	background: url("../images/bg2.png") no-repeat top center;
	background-size: cover;
	padding: 100px 125px 100px 25px;
}

.service__box h2 {
	font-family: "Gotham Medium", sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	margin: 125px 0 40px;
}

.service__box p {
	font-size: 15px;
	margin-bottom: 70px;
}

a.press {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: "Gotham Medium", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	width: 75%;
	padding: 10px 30px;
	margin-bottom: 25px;
	background: #11749e;
}

a.press:nth-last-child(2) {
	width: 80%;
}

a.press:last-child {
	width: 85%;
}

.team {
	margin-bottom: 125px;
}

.team__member {
	/* position: relative;
	width: 100%; */
	display: flex;
	justify-content: center;
}

.team__content {
	position: absolute;
	bottom: -40px;
	width: 55%;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.team__content h3 {
	font-family: "Gotham Medium", sans-serif;
	font-size: 20px;
	color: #11749e;
	line-height: 30px;
}

.team__content p {
	font-family: "Gotham Medium", sans-serif;
	font-size: 15px;
	color: #000;
}

.contact-us {
	background: url("../images/bg3.png") no-repeat top center;
	padding-bottom: 100px;
}
.contact-us__form {
	max-width: 70%;
	margin: 0 auto;
}
.contact-us__info {
	/* background-color: red; */
	display: flex;
	flex-wrap: wrap;
}
.contact-us__input {
	flex: 1 0 30%;
	border: 1px solid white;
	background: transparent;
	padding: 15px 25px;
}
.contact-us__input:nth-child(2) {
	margin: 0 20px;
}

#message {
	width: 100%;
	height: 200px;
	border: 1px solid white;
	background: transparent;
	padding: 15px 25px;
	margin: 35px 0 45px;
	resize: none;
}

.contact-us .btn {
	width: 230px;
	height: 65px;
	background: #11749e;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0;
	margin: auto;
}

#map {
	height: 400px;
}

footer {
	background: #222222;
	display: flex;
	padding: 40px 0;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.footer__content h5 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
}
.footer__content img {
	height: 25px;
}