@font-face {
    font-family: 'Gotham';
    src: url("../fonts/14006.otf");
}
@font-face {
    font-family: 'Gotham Medium';
    src: url("../fonts/14012.otf");
}
@font-face {
    font-family: 'Gotham Book';
    src: url("../fonts/14008.otf");
}
@font-face {
    font-family: 'Myriad Pro';
    src: url("../fonts/8143.otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Book', sans-serif;
    color: #fff;
}
a, a:hover{
    text-decoration: none;
}
a, ul, li{
    display: block;
}
h1, h2, h3, h4, h5, h6,
p, ul, li{
    margin-bottom: 0;
}
header{
    position: absolute;
    width: 100%;
    height: 115px;
    z-index: 5;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    display: flex;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 15px;
}
nav a{
    position: relative;
    width: 80px;
    height: 80px;
}
nav a span{
    display: flex;
    color: white;
    font-size: 30px;
    padding: 12px;
}
nav a span:before,
nav a span:after{
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
}
nav a span:before{
    top: 0;
    left: 0;
    background: #11749E;
    z-index: -1;
}
nav a span:after{
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: -2;
}
.logo span{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.top-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
}
.top-menu li a{
    font-size: 20px;
    color: #fff;
    margin: 0 25px;
    display: inline;
    font-family: 'Myriad Pro', sans-serif;
}
.top-menu li a:hover{
    border-bottom: 5px solid #11749E;
    text-decoration: none;
    padding-bottom: 40px;
}
.social-icons span{
    font-size: 20px;
    margin: 15px;
}

.main{
    position: relative;
    background: url("../images/bg.png") no-repeat top center;
    height: 880px   ;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.heading{
    margin: auto;
    width: 900px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading-title{
    font-family: 'Gotham', sans-serif;
    font-size: 152px;
    font-weight: bold;
    color: #f5f5f5;
    text-transform: uppercase;
}
.heading-text{
    font-family: 'Gotham Medium', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #11749e;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 20px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.title h2{
    font-size: 37px;
    color: white;
    text-transform: uppercase;
    position: absolute;
}
.title span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 247px;
    font-weight: bold;
    position: static;
    color: #3C8DAF;
}
.heading b{
    position: absolute;
    bottom: 180px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 13px;
}
.btn-arrow{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features{
    background: #11749E;
}
.row{
    margin: 0 -30px;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 135px;
}
.feature-icon{
    width: 135px;
    height: 135px;
    background: #2E85AA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 25px 0 30px;
}
.feature p{
    font-size: 15px;

}
.culture{
    margin: 0 -15px;
    height: 450px;
    position: relative;
    background: #222222;
}
.culture2{
    background: #F3F3F3;
}
.text-culture1, .text-culture2{
    position: absolute;
    width: 470px;
    height: 260px;
    bottom: 0;
    right: 0;
    margin: 0 100px 100px 0;
}
.text-culture2{
    top: 0;
    left: 0;
    margin: 100px 0 0 100px;
}
.culture pre, .culture h3, .culture p{
    color: #fff;
}
.culture pre{
    font-size: 13px;
}
.culture h3{
    font-family: 'Gotham Medium', sans-serif;
    font-size: 25px;
    margin-bottom: 35px;
}
.culture p{
    font-size: 15px;
}
.culture2 pre, .culture2 h3, .culture2 p{
    color: #000;
}
.culture img{
    width: 100%;
    height: 100%;
}
.blog .title h2{
    font-family: 'Gotham Medium', sans-serif;
    font-size: 37px;
    color: #000;
}
.blog .title span{
    color: #D7D7D7;
}
.blog .title h3{
    color: #000;
    margin: -70px 0 50px;
}
.blog-area{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 105px;
}
.blog-area img{
    width: 100%;
}
.blog-area h4{
    font-family: 'Gotham Medium', sans-serif;
    color: #11749e;
    font-size: 18px;
    margin: 45px 0 30px;
}
.blog-area p{
    font-size: 15px;
    color: #000;
}
.quick-action{
    padding: 100px 0 150px;
    background: #11749E;
}
.action{
    display: flex;
    align-items: center;
}
.action img{
    width: 70px;
    height: 70px;
    margin-right: 30px;
}
.action p{
    font-size: 15px;
}
.phone-app{
    background: url("../images/bg2.png") no-repeat top center;
}

